%footer-text {
    margin-bottom: 20px;
        
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
        
    color: var(--logo-secondary-color);
}